
header {
    background: #ffffff;
}

h1 {
    color: white;
    text-align: center;
}
h1, h2 {
    font-family: "Georgia", Times, Times New Roman, serif;   
}

h2 {
    color: #4aaaa5;
}

#logo {
    border: #4aaaa5 solid;
    box-sizing: border-box; width:15%;
    background: #4aaaa5;

}

p {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
